@font-face {
   font-family: "Futura";
   font-weight: 700;
   font-display: swap;
   src: url("../fonts/futurabold.woff2") format("woff2"),
        url("../fonts/futurabold.woff") format("woff");
}
@font-face {
   font-family: "Futura";
   font-weight: 500;
   font-display: swap;
   src: url("../fonts/futuramedium.woff2") format("woff2"),
        url("../fonts/futuramedium.woff") format("woff");
}
@font-face {
   font-family: "Futura";
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/futuranormal.woff2") format("woff2"),
        url("../fonts/futuranormal.woff") format("woff");
}
* {
  box-sizing: border-box;
}
html {
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   font-family: "Futura";
   font-weight: 400;
   background-color: #f9f9f9;
   background-image: url(../images/bg.png);
   font-style: normal;
}
.container {
   max-width: 1350px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}
img {
   display: block;
   height: auto;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0)
}.header-top {
   padding: 11px 0 12px;
}
.header-top-wrapper {
   display: flex;
   padding: 0 0 0 191px;
   align-items: center;
   font-style: normal;
}
.header-top-location {
   display: flex;
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   margin-right: auto;
   color: #333;
   text-decoration: none;
   align-items: center;
}
.header-top-location::before {
   display: inline-block;
   width: 14px;
   height: 13px;
   margin-right: 9px;
   background-image: url(../images/home.svg);
   background-size: 14px 13px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.header-top-tel-list {
   display: flex;
   column-gap: 9px;
   margin: 0 98px 0 0;
   padding-left: 0;
   list-style: none;
   align-items: center;
}
.header-top-tel-list::before {
   display: inline-block;
   width: 13px;
   height: 13px;
   background-image: url(../images/phone.svg);
   background-size: 13px 13px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.header-top-tel-link {
   display: flex;
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   color: #333;
   text-decoration: none;
   align-items: center;
   transition: color 0.3s linear, opacity 0.3s linear;

}
.header-top-tel-link:hover {
   color: #ffbd54;
}
.header-top-tel-link:active {
   color: #333;
   opacity: 0.6;
}
.header-top-tel-item:nth-child(2) .header-top-tel-link::before {
   display: inline-block;
   width: 4px;
   height: 4px;
   margin-right: 9px;
   background-color: #ffbd54;
   border-radius: 50%;
   content: "";
}
.header-top-tel-item:nth-child(2) .header-top-tel-link::after {
   display: inline-block;
   width: 4px;
   height: 4px;
   margin-left: 9px;
   background-color: #ffbd54;
   border-radius: 50%;
   content: "";
}
.header-top-time-list {
   display: flex;
   margin: 0;
   padding-left: 0;
   list-style: none;
   align-items: center;
}
.header-top-time-list::before {
   display: inline-block;
   width: 14px;
   height: 14px;
   background-image: url(../images/schedule.svg);
   background-size: 14px 14px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.header-top-time-litem:nth-child(1) {
   margin: 0 17px 0 7px;
}
.header-top-day {
   font-size: 14px;
   line-height: normal;
   color: #333;
}
.header-top-time {
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   color: #333;
}
.header-bottom {
   padding: 15px 0 20px;
   background-color: #fff;
   border: 1px solid #f3f3f3;
}
.header-bottom-wrapper {
   position: relative;
   display: flex;
   align-items: center;
}
.header-logo-link {
   position: absolute;
   top: -35px;
   transition: opacity 0.3s linear;
   text-decoration: none;
}
.header-logo-link:hover {
   opacity: 0.8;
}
.header-logo-link:active {
   opacity: 0.6;
}
.nav-bar {
   display: flex;
   column-gap: 12px;
   margin-right: auto;
   padding-left: 293px;
   align-items: center;
}
.nav-bar::before {
   display: inline-block;
   width: 15px;
   height: 15px;
   background-image: url(../images/fish.svg);
   background-size: 15px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.nav-list {
   display: flex;
   column-gap: 55px;
   margin: 0;
   padding-left: 0;
   list-style: none;
   align-items: center;
}
.nav-item-link {
   font-weight: 500;
   line-height: normal;
   color: #333;
   text-decoration: none;
   border-bottom: 5px solid transparent;
   transition: border-color 0.3s linear, opacity 0.3s linear;
}
.nav-item-link:hover {
   border-color: #f4ffad;
}
.nav-item-link:active {
   opacity: 0.6;
}
.header-bottom-link {
   display: flex;
   column-gap: 5px;
   font-weight: 500;
   line-height: normal;
   color: #333;
   align-items: center;
   text-decoration: none;
   transition: color 0.3s linear, opacity 0.3s linear;
}
.header-bottom-link::before {
   display: inline-block;
   width: 23px;
   height: 21px;
   background-image: url(../images/pet.svg);
   background-size: 23px 21px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.header-bottom-link:hover {
   color: #ffbd54;
}
.header-bottom-link:active {
   color: #333;
   opacity: 0.6;
}
.site-main {
   flex-grow: 1;
   padding: 0 0 169px;
}
.hero {
   background-image: url(../images/popugay.png);
   background-repeat: no-repeat;
   background-size: 460px 435px;
   background-position: calc(50% + 500px) calc(50% - 640px);
}
.hero__info {
   width: 560px;
   padding: 111px 0 0 112px;
}
.hero__title {
   font-size: 70px;
   font-weight: 700;
   line-height: 64px; 
   margin: 0 0 21px;
   color: #333;
}
.hero__text {
   line-height: 20px; 
   margin: 0 0 140px;
   color: #949494;
}
.hero__list {
   display: grid;
   grid-template: repeat(3, 420px)/repeat(4,305px);
   gap: 34px 30px;
   margin: 0;
   padding-left: 0;
   list-style: none;
}
.hero__item {
   padding: 58px 22px 45px 53px;
   border-radius: 5px 5px 0px 0px;
   background-color: #fff;
   transition: filter 0.3s linear;
}
.hero__item:hover {
   filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.20));
}
.hero__item-title {
   font-size: 32px;
   font-weight: 500;
   line-height: 34px;
   margin: 0 0 14px; 
   color: #333;
}
.hero__item-title::before {
   display: block;
   width: 77px;
   height: 77px;
   margin-bottom: 22px;
   background-repeat: no-repeat;
   background-size: 77px 77px;
   background-position: center;
   content: "";
}
.hero__item:nth-child(1) .hero__item-title::before {
   display: block;
   width: 54px;
   height: 77px;
   margin-bottom: 22px;
   background-image: url(../images/doctor.svg);
   background-repeat: no-repeat;
   background-size: 54px 77px;
   background-position: center;
   content: "";
}
.hero__item:nth-child(2) .hero__item-title::before {
   width: 61px;
   background-image: url(../images/girl.svg);
   background-size: 61px 77px;
   content: "";
}
.hero__item:nth-child(3) .hero__item-title::before {
   width: 72px;
   background-image: url(../images/heath.svg);
   background-size: 72px 77px;
   content: "";
}
.hero__item:nth-child(4) {
   padding-right: 50px;
}
.hero__item:nth-child(4) .hero__item-title::before {
   width: 76px;
   height: 76px;
   background-image: url(../images/dogmic.svg);
   background-size: 76px 76px;
   content: "";
}
.hero__item:nth-child(5) .hero__item-title::before {
   width: 78px;
   height: 78px;
   background-image: url(../images/micro.svg);
   background-size: 78px 78px;
   content: "";
}
.hero__item:nth-child(6) .hero__item-title::before {
   width: 76px;
   height: 76px;
   background-image: url(../images/help.svg);
   background-size: 76px 76px;
   content: "";
}
.hero__item:nth-child(7) .hero__item-title::before {
   width: 77px;
   height: 77px;
   background-image: url(../images/rengen.svg);
   background-size: 77px 77px;
   content: "";
}
.hero__item:nth-child(8) .item-title::before {
   width: 40px;
   height: 77px;
   background-image: url(../images/shprits.svg);
   background-size: 40px 77px;
   content: "";
}
.hero__item:nth-child(9) .hero__item-title::before {
   width: 87px;
   height: 78px;
   background-image: url(../images/pasport.svg);
   background-size: 87px 78px;
   content: "";
}
.hero__item:nth-child(10) .hero__item-title::before {
   width: 68px;
   height: 76px;
   background-image: url(../images/pills.svg);
   background-size: 68px 76px;
   content: "";
}
.hero__item:nth-child(11) .hero__item_title::before {
   width: 78px;
   height: 78px;
   background-image: url(../images/teeth.svg);
   background-size: 78px 78px;
   content: "";
}
.hero__item:nth-child(12) .hero__item-title::before {
   width: 77px;
   height: 77px;
   background-image: url(../images/delivery.svg);
   background-size: 77px 77px;
   content: "";
}
.hero__item-text {
   line-height: 20px;
   margin: 0 0 26px;
   color: #949494;
}
.hero__item-link {
   display: inline-block;
   width: 156px;
   padding: 15px 20px 14px;
   border-radius: 3px;
   color: #fff;
   text-decoration-line: none;
   text-align: center;
   line-height: normal;
   transition: background-color 0.3s linear, opacity 0.3s linear;
}
.hero__item:nth-child(odd) .hero__item-link {
   background-color: #ffbd54;
}
.hero__item:nth-child(odd) .hero__item-link:hover {
   background-color: #000;
}
.hero__item:nth-child(odd) .hero__item-link:active {
   opacity: 0.6;
}
.hero__item:nth-child(even) .hero__item-link {
   background-color: #78c0de;
}
.hero__item:nth-child(even) .hero__item-link:hover {
   background-color: #ffbd54;
}
.hero__item:nth-child(even) .hero__item-link:active {
   opacity: 0.6;
}
.site-footer {
   padding-top: 52px;
   border: 1px solid #ebebeb;
   background-color: #f3f3f3;
}
.footer-wrapper {
   display: flex;
}
.footer-logo-link {
   width: 158px;
   height: 77px;
   margin-right: 67px; 
   text-decoration: none;
   transition: opacity 0.3s linear;
}
.footer-logo-link:hover {
   opacity: 0.8;
}
.footer-logo-link:active {
   opacity: 0.6;
}
.footer-nav-wrapper {
   margin-right: auto;
   padding-top: 6px;
}
.footer-nav-list {
   width: 288px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 86px;
   margin: 0;
   padding-left: 0;
   list-style: none;
}
.footer-nav-item {
   width: 86px;
}
.footer-nav-item:not(:last-child) {
   margin-bottom: 14px;
}
.footer-nav-item:nth-child(5) {
   margin-bottom: 0;
}
.footer-nav-item:nth-child(2) {
   width: 115px;
}
.footer-nav-link {
   font-weight: 500;
   line-height: normal;
   color: #333;
   text-decoration: none;
   border-bottom: 5px solid transparent;
   transition: border-color 0.3s linear, opacity 0.3s linear;
}
.footer-nav-link:hover {
   border-color: #f4ffad;
}
.footer-nav-link:active {
   opacity: 0.6;
}
.footer-address {
   font-style: normal;
}
.footer-info-list {
   display: flex;
   margin: 0;
   padding-left: 0;
   list-style: none;
}
.footer-info-item {
   display: flex;
}
.footer-info-item:nth-child(1) {
   margin-right: 112px;
}
.footer-info-item:nth-child(1):before {
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 14px;
   padding-top: 6px;
   background-image: url(../images/schedule.svg);
   background-size: 16px 16px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.footer-time-list {
   margin: 0;
   padding-left: 0;
   list-style: none;
}
.footer-time-item {
   margin-bottom: 3px;
}
.footer-info-item:nth-child(2) {
   width: 184px;
   margin-right: 87px;
}
.footer-info-item:nth-child(2):before {
   display: inline-flex;
   width: 25px;
   height: 16px;
   margin-right: 14px;
   background-image: url(../images/home.svg);
   background-size: 17px 16px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.footer-info-location {
   font-weight: 500;
   line-height: normal;
   color: #333;
   text-decoration: none;
}
.footer-tel-list {
   margin: 0;
   padding-left: 0;
   list-style: none;
}
.footer-tel-item {
   margin-bottom: 4px;
}
.hero-tel {
   font-weight: 500;
   line-height: normal;
   color: #333;
   text-decoration: none;
   transition: color 0.3s linear, opacity 0.3s linear;
}
.hero-tel:hover {
   color: #ffbd54;
}
.hero-tel:active {
   color: #333;
   opacity: 0.6;
}
.footer-info-item:nth-child(3):before {
   display: inline-flex;
   width: 16px;
   height: 16px;
   margin-right: 14px;
   background-image: url(../images/phone.svg);
   background-size: 16px 16px;
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}
.footer-end {
   padding: 28px 0 23px;
   text-align: right;
}